# Data
backend/data/

# File types
*.nc
*.pkl

# Python
__pycache__/
.ipynb_checkpoints/

# System
.DS_Store

# Credentials
_netrc
.netrc

# Exclude all environment configuration files
.env
.env.local
.env.*.local